
            
        .manageUser {
            width: 50%;
            margin: auto;
        }
 
        table {
			font-family:arial;
			font-weight:bold;
			size:18px;
            width: 100%;
            margin-top: 20px;
        }
 
        body {
			background-color:lightgreen;
			font-family:arial;
			font-weight:bold;
			size:18px;
			
		}
		
		fieldset {
			margin: auto;
			margin-top: 100px;
			width: 50%;
		}

		table tr th {
			padding-top: 10px;
		}
		
	